body {
  background-color: #121212 !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* navbar */
.ovf {
  top: -2px;
  z-index: 5;
  transition: all 0.4s ease-in;
}
.nav-bg {
  background: inherit;
  backdrop-filter: blur(20px);
  background-color: rgba(60, 58, 70, 0.432);
}

.a1 {
  position: relative;
  color: #03dac5;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(78, 78, 78, 0.952);
}

.a1:hover {
  color: #03dac5;
  text-shadow: 2px 2px 5px rgba(78, 78, 78, 0.952);
}

.a1::before {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 15;
  background-color: #03dac5;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.a1:hover::before {
  transform: scaleX(1);
}

.a2 {
  position: relative;
  color: #03dac5;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(78, 78, 78, 0.952);
}

.a2:hover {
  color: #03dac5;
  text-shadow: 2px 2px 5px rgba(78, 78, 78, 0.952);
}

.a2::before {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 5;
  background-color: #03dac5;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.a2:hover::before {
  transform: scaleX(1);
}

/*timeline*/

h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #bb86fc;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #bb86fc;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}
.timeline__event__date {
  color: #bb86fc;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9251ac;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #bb86fc;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #bb86fc;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #bb86fc;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event--type2:after {
  background: #c060a1;
}
.timeline__event--type2 .timeline__event__date {
  color: #f1d4d4;
  background: #c060a1;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #f1d4d4;
}
.timeline__event--type2 .timeline__event__icon {
  background: #f1d4d4;
  color: #c060a1;
}
.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
  background: #f1d4d4;
}
.timeline__event--type2 .timeline__event__title {
  color: #c060a1;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before,
  .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@-webkit-keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@-webkit-keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@-webkit-keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

/*accordian*/
.collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded="true"]::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded="true"]::before {
  transform: rotate(180deg);
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*out team*/

/*START*/

.a {
  margin-bottom: 50px;
}

.b1 {
  position: absolute;
  margin-top: 17%;
  margin-left: 60%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
  
}
.b2 {
position: absolute;
  margin-top:21%;
  margin-left: 61.2%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media screen and (max-width: 800px) {
  .b1 {
  position: relative;
  margin-top: 21%;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

  
}
.b2 {
position: relative;
  margin-top: 1%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
  
}

/*
@media screen and (max-width: 768px) {

  .c1{
    margin-left: 10%;
  }
  .c2{
    text-align: center;
    margin-left: 30%;
  }
}*/

@media (max-width: 800px) {
  .c1 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.i1 {
  position: relative;
  left: 100px;
}

.i3 {
  position: relative;
  bottom: 50px;
  left: 150px;
}


.lp {
  position: relative;
  background-image: url("assets1/lp.png");
  height:80vh ;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

  @media only screen and (max-width: 768px) {
    .lp {
      background-image: url("logof2/1.png");
width: 100%;
flex-direction: column;

background-repeat: no-repeat;
}

.ambuj{
  flex-direction: column !important;
  display: flex;
}
.ambuj1{
  font-size:small;

}

}
.ambuj
{
  display: flex;
  flex-direction: row;
}

.ambuj{
  align-items: center;
}

.ambuj{
  min-width: 100%;
}



.port-item {
  width: 30%;
  min-width: 0;
}

@media screen and (max-width: 768px) {
  #bars {
    flex-direction: column !important;
  }
  .card {
    margin-top: 50px;
    width: 100%;
  }

  .reg-btn{
    position: absolute;
    top: 40vh;
    left: -25vw;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }
  .how-btn{
    position: absolute;
    top: 60vh;
    left: -23vw;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }
}









